body{
    font-family: 'Work Sans', sans-serif;
}

.header{
    background: #F3C6BD;
    padding: 58px 0 58px;
}


.container,.section_logo,.grid,.grid_section-audience{
    max-width: 1140px;
    margin: 0 auto;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    margin-right: 15px;
}

.logo_title{
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #2B292D;
}

.logo_text{
    font-size: 18px;
    line-height: 25px;
    color: rgba(43, 41, 45, 0.6);
}

.header_link{
    font-size: 18px;
    line-height: 25px;
    text-align: right;
    color: #2B292D;
    text-decoration: none;
    position: relative;
}

.header_ul{
    margin-right: 75px;
}

.header_li:not(:last-of-type){
    margin-right: 30px; 
}

.header_link:hover::before{
    content:'';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ba9891;
    bottom: -5px;
}

.header_link:hover::after{
    content:'';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ba9891;
    top: -5px;
    right: 0;
}

.button{
    width: 160px;
    height: 48px;
    border: none;
    border-radius: 2px;
    background-color: #3040C4;
    font-size: 18px;
    line-height: 13px;
    color: #FFFFFF;
    font-weight: bold;

}

.button:hover{
    cursor: pointer;
    transition: 200ml;
    background-color: #0e1da7;
}

.inbox{
    background: rgba(252, 240, 227, 50%);
    padding: 115px 0 116px;
}

.inbox_response{
    max-width: 519px;
    width: 100%;
    background: white;
    padding: 30px 30px 24px;
    box-sizing: border-box;

}

.inbox_text{
    font-size: 20px;
    line-height: 28px;
    color: #2B292D;
    /* padding margin-bottom: 26px; */
}

.inbox_text-bold{
    font-weight: 700;

}


.section{
    background: #F4F5F7;
    padding: 58px 0 58px;
  
}

.section_text{
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    color: #2B292D;
    width: 555px;
    height: 102px;

}

.section_logo{
    padding: 58px 0 58px;
        
}

.section-audience{
    text-align: center;
    color: #2B292D;
    
}

.info_predtitle{
    font-size: 22px;
    line-height: 34px;
    font-weight: bold;
           
}

.text-audience_title{
    font-size: 56px;
    max-width: 555px;
    height: 112px;
    line-height: 56px;   
    font-weight: bold;
    margin: 0 auto;
    
   
}

.text-audience{   
    font-size: 24px;
    width: 555px;
    height: 72px; 
    margin: 0 auto;
    padding-top: 30px;
    
    
}

.button--white{
    width: 160px;
    height: 48px;
    border: none;
    border-radius: 2px;
    background-color: #ffffff;
    font-size: 18px;
    line-height: 13px;
    color: #000000;
    font-weight: bold;
}

 .button--audience{   
    display: flex;
    justify-content: center;
    margin: 34px 0 129px; 
    gap: 10px; 
          
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}

.item:nth-child(3), .item:nth-child(4){
    grid-row: span 2;
}

.section-audience{
    background: rgba(0, 161, 198, 10%);
    padding: 58px 0 58px;

}

.grid_section-audience{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    
    
}

.section-audience--hover:hover{
    background-color: #3040C4;

}

.section-audience--hover{
    background-color: #ffffff;
    border-radius: 5%;
}

.text_grid--img{
    
    font-size: 22px;
    line-height: 28px;
    color: #000000;
    font-weight: bold;
    text-align: center;
    padding: 33px;
    

} 

.img_grid--img{
    padding: 22px 62px;

}
